<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DaftarProduk</servlet-name>
        <servlet-class>belajar.webdb.servlet.DaftarProdukServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProdukServlet</servlet-name>
        <servlet-class>belajar.webdb.servlet.EditProdukServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadProdukServlet</servlet-name>
        <servlet-class>belajar.webdb.servlet.DownloadProdukServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DaftarProduk</servlet-name>
        <url-pattern>/daftar-produk</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HapusProduk</servlet-name>
        <servlet-class>belajar.webdb.servlet.HapusProdukServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HapusProduk</servlet-name>
        <url-pattern>/hapus-produk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProdukServlet</servlet-name>
        <url-pattern>/edit-produk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadProdukServlet</servlet-name>
        <url-pattern>/download-produk</url-pattern>
    </servlet-mapping>
</web-app>
